<p>acces-denied works!</p>
<div class="card text-center ">
    <div class="card-header">
      <h2>Acceso denegado</h2> 
    </div>
    <div class="card-body">
        
      <h5 class="card-title">No tienes permiso para acceder</h5>
      <p class="alert alert-danger" role="alert">Su nombre de usuario o contraseña son incorrectos, 
          por favor intente de nuevo</p>
      <a href="#" class="btn btn-success">Volver</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>